fastapi==0.115.6
uvicorn==0.33.0
pydantic==2.9.2
pydantic-settings==2.7.1
streamlit==1.43.1
openai==1.61.1
tiktoken==0.9.0
pinecone==5.4.2
boto3==1.35.81
python-dotenv==1.0.1
numpy==1.26.4
pandas==2.2.3
tqdm==4.67.1
